{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set site        = networkData.title | lower | split(" ")[0]%}
{% set config       = _Network.getThemeConfig() %}
{% set layoutTitle  = _Page.getLayoutTitle() | lower | replace({' ': '_'}) %}


{% set limit = 15 %}

{% set blogData     = _Blog.getBlog() %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}




{% set popularArticles = _Article.getPopularArticles({ limit: 10, sortBy: 'VIEWS', scope: 'blog' }) %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set popCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% if config['watermark']['settings'] is defined and config['watermark']['sections'][blogData.title|lower] %}
    {% set watermark = config['watermark']['settings'] %}
{% else %}
    {% set watermark = 'FALSE' %}
{% endif %}


<main id="main" class="site-main" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">
   
    <div class="container ">

        <div class="row" id="loadmore_section">
            <div class="col-12">
                <div class="c-page-head c-page-head-xs">
                    <div class="u-heading__large u-heading__large-xs u-pr--6">{{blogData.title}}</div>
                    
                </div>
            </div>
            
            

            {% if articles[articleCount] %}
                
                <div class="col-12 col-md-8 col-lg-6">
                    {% if config['digital-edition-button'] is defined and config['digital-edition-button'] != '' %}
                        <a href="{{articles[articleCount].url}}"><div class="c-button c-button--blue c-digital-edition__button">{{config['digital-edition-button']}}</div></a>
                    {% endif %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 260, height: 380},
                        imageSizes: {
                            "mobile": {
                                width: 222,
                                height: 198
                            },
                            "tablet" : {
                                width: 190,
                                height: 275 
                            },
                            "tabletLarge" : {
                                width: 230,
                                height: 380
                            }
                        },
                        containerClass: "card-13-mobile card-13-tablet card-13-desktop card-13-desktop-lg",
                        watermark: watermark
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
               
            {% endif %}

            {% for i in 0..4 if articles[articleCount] %}
                <div class="col-6 col-md-4 col-lg-3">
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 210, height: 313},
                        imageSizes: {
                            "mobile": {
                                width: 195,
                                height: 175
                            },
                            "mobile": {
                                width: 215,
                                height: 250
                            },
                            "tablet" : {
                                width: 164,
                                height: 217 
                            },
                            "tabletLarge" : {
                                width: 210,
                                height: 313
                            }
                        },
                        containerClass: "card-12-mobile-sm card-12-mobile-lg card-12-tablet card-12-desktop card-12-desktop-lg",
                        watermark: watermark
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}


           
            {% for i in 0..8 if articles[articleCount] %}
                <div class="col-6 col-md-4 col-lg-3">
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 210, height: 313},
                        imageSizes: {
                            "mobile": {
                                width: 195,
                                height: 175
                            },
                            "mobile": {
                                width: 215,
                                height: 250
                            },
                            "tablet" : {
                                width: 164,
                                height: 217 
                            },
                            "tabletLarge" : {
                                width: 210,
                                height: 313
                            }
                        },
                        containerClass: "card-12-mobile-sm card-12-mobile-lg card-12-tablet card-12-desktop card-12-desktop-lg",
                        watermark: watermark
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
            <div class="col-12">
                {% if config['inventory']['adSpace']['banner'][1] is defined %}
                    <div class="j-adslot u-margin-bottom-40 u-mobile-margin-bottom-15" id="{{config['inventory']['adSpace']['banner'][1]}}" data-adshape="banner"></div>
                {% endif %}
            </div>
        </div>

        {% if articles|length >= limit %}
            <section class="">
                <div class="row">
                    {{ this.render('partials/ajaxarticles_new.twig', {
                        name            : "section-load",
                        label           : "Load More",
                        buttonClass     : "c-button c-button--blue-bordered u-margin-bottom-40",
                    }) | raw }}
                </div>
            </section>
        {% endif %}

    </div>
    <div class="j-keyword-cont" data-keywords="{{blogData.keywords}}"></div>
</main>



<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        
        Acme.loadMore = new Acme.View.articleFeed({
            model           : new Card(),
            infinite        : true,
            container       : 'loadmore_section',
            offset          : 12,
            limit           : {{limit}},
            name            : 'section-load',
            imageWidth      : 200,
            imageHeight     : 300,
            blogid          : "{{ blogData['guid'] }}",
            card_class      : 'card-12-mobile-sm card-12-mobile-lg card-12-tablet card-12-desktop card-12-desktop-lg col-6 col-md-4 col-lg-3',
            non_pinned      : "{{ articlesArr.existingNonPinnedCount }}"
        });


    });
</script>

            {# non_pinned      : {{articlesArr.existingNonPinnedCount}}, #}
