{% set articleCount = 0 %}
{% set cardIndex = 0 %}

{% set labelInfo = cusLabel ? 'hide_labels' : '' %}
{% set noAuthor = authorHide ? 'hide_author' : '' %}

{% set cacheKey = "section_05_popular" %}
{% set forceCache = true %}
{% set popularArticles = getCache(cacheKey, forceCache) %}
{% if (popularArticles is empty) %}
    {% set popularArticles = _Article.getPopularArticles({ limit: 6, scope: 'network',  interval: 168 }) %}
    {% set cache = setCache(cacheKey, popularArticles, 900, forceCache) %} 
{% endif %} 




<div class="row" data-section="05">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <a href="{{link}}" class="c-page-head__link">View all</a>
            {% if admin and dev %}
                <p class="c-page-head__panel-name">Panel 05</p>
            {% endif %}
        </div>
    </div>
</div>



<div class="row {{labelInfo}} {{noAuthor}}">

    <div class="col-12 col-md-8 col-xl-6 order-2 u-tablet-border-left u-desktop-border-left u-desktop-lg-border-left u-desktop-lg-border-right">
        {% if articles[articleCount] %}
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                position: (articleCount+1),
                imageSize: {width: 630, height: 360},
                imageSizes: {
                    "mobile": {
                        width: 390,
                        height:235
                    },
                    "mobileLarge": {
                        width: 510,
                        height:475
                    },
                    "tablet" : {
                        width: 460,
                        height: 300
                    },
                    "tabletLarge" : {
                        width: 730,
                        height: 300
                    }
                },
                lazyload: lazyload,
                containerClass: "card-1-mobile card-5-tablet card-5-desktop card-5-desktop-lg card-highlight"
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

        {% endif %}
       
    </div>
    
    <div class="col-12 col-md-4 col-xl-3 order-1">
        <div class="row">
            <div class="col-12">
                {% if articles[articleCount] %}
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 300, height: 183},
                        imageSizes: {
                            "mobile": {
                                width: 390,
                                height:235
                            },
                            "mobileLarge": {
                                width: 510,
                                height:475
                            },
                            "tablet" : {
                                width: 216,
                                height: 145
                            },
                            "tabletLarge" : {
                                width: 350,
                                height: 145
                            }
                        },
                        lazyload: lazyload,
                        containerClass: "card-4-mobile card-4-tablet card-4-desktop card-4-desktop-lg"
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
            </div>
            <div class="col-12">
                <hr class="o-rule o-rule--15">
            </div>
            {% for i in 0..1 if articles[articleCount] %}
                <div class="col-12" >
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 76, height: 76},
                        imageSizes: {
                            "mobile": {
                                width: 76,
                                height: 76
                            },
                            "tablet" : {
                                width: 76,
                                height: 76
                            },
                        },
                        lazyload: lazyload,
                        containerClass: "card-2-mobile card-2-tablet card-2-desktop card-2-desktop-lg"
                    }) | raw}}
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
                {% if i == 0 %}
                    <div class="col-12">
                        <hr class="o-rule o-rule--15">
                    </div>
                {% endif %}

            {% endfor %}
            <div class="col-12  d-md-none">
                <hr class="o-rule o-rule--15">
            </div>
        </div>
    </div>
    
    <div class="col-12 col-xl-3 order-3 u-mobile-margin-top-30 u-tablet-margin-top-20">
        <div class="row">  
            <div class="col-12">
                <div class="c-page-head c-page-head-xs c-page-head__subhead">
                    <div class="u-heading__medium">Most Popular</div>
                    
                </div>
            </div> 
        </div>
        <ul class="row c-news-feed__list">
        
            {% for i in 0..5 if popularArticles[i] %}
                <li class="col-12 col-md-4 col-xl-12{% if i < 2 %} u-tablet-border-right {% elseif i > 2 %} d-md-none d-xl-block{% endif %}">
                    {{this.render('../_single-article.twig', {
                        article: popularArticles[i], 
                        containerClass: "card-14-mobile card-14-tablet card-14-desktop card-14-desktop-lg",
                        imageSuppress: true
                    }) | raw}}
                </li>
                
                {% if i < 5 %}
                    <div class="col-12 d-md-none d-xl-block">
                        <hr class="o-rule o-rule--15">
                        {# <hr class="o-rule d-md-block"> #}
                    </div>
                {% endif %}
                
            {% endfor %}
        </ul>

    </div>
</div>